<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Home</title>
	
	<style type="text/css">
	{% include "css/style.css" %}
	</style>
</head>
<body>
<div id="content">
<header id="encabezado">
	<h1>Página de prueba</h1>
</header>
<nav id="menu">
	{% include "nav.html" %}
</nav>
<section id="cuerpo">
	<h3>Home</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed massa eu dui tempor adipiscing non posuere nisl. Cras at diam sit amet est tempus faucibus sit amet eget dui. Etiam sit amet lorem eget nulla convallis varius. Nullam hendrerit mauris quis metus interdum pharetra. Curabitur risus odio, facilisis sed vestibulum id, fermentum non orci. Mauris vitae orci quam. Proin rutrum ante vitae nibh feugiat, quis tempor odio commodo. Vestibulum scelerisque dignissim volutpat. Maecenas sollicitudin pharetra sapien, eget tempus neque molestie nec. Etiam vel eleifend ante. Quisque auctor dictum mattis. Morbi eu justo malesuada, dignissim arcu at, malesuada elit. Sed rutrum nibh ut hendrerit fringilla.
	</p>
	<p>
		Duis non dui rhoncus, tempor nisl volutpat, aliquam arcu. Cras ornare rutrum ligula id malesuada. Sed tellus lectus, vulputate vel sodales in, mattis vehicula eros. In tristique justo ut fringilla dictum. Nulla id hendrerit risus. Ut ut elit at ligula rutrum hendrerit sed sit amet libero. Duis vel odio porttitor, mollis neque non, porttitor leo. In lorem magna, pharetra nec euismod sed, fermentum ac felis. Suspendisse potenti. Sed erat lorem, congue egestas bibendum at, semper in est. Integer commodo, arcu et adipiscing fringilla, leo dui imperdiet dui, sit amet laoreet arcu velit et est.
	</p>
	<p>
		In metus nunc, gravida vitae sollicitudin eu, egestas sit amet erat. Sed sit amet convallis erat. Etiam diam velit, scelerisque sit amet mattis id, euismod non ante. Pellentesque laoreet lacus nibh, non elementum purus dignissim sit amet. Proin dui tellus, consequat a luctus eleifend, ultricies eu risus. Curabitur et faucibus libero. Maecenas accumsan mauris tellus, quis dignissim dui cursus vel. Phasellus lacinia, leo hendrerit sodales aliquam, neque nulla interdum dolor, eget sodales diam lectus in diam. Suspendisse ut elementum mi, eu laoreet magna. Etiam at ornare dolor, at aliquam purus. Aenean convallis, lectus et lobortis porttitor, nulla odio imperdiet justo, id rutrum eros dui aliquet urna. Vestibulum fermentum ante a ligula sollicitudin aliquam. Aliquam feugiat neque eget diam vulputate, et aliquet lorem auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	</p>
</section>
<footer id="pie"></footer>
</div>

</body>
</html>